body { margin: 0; padding: 0; font: 400 12pt/1.5 'Open Sans', sans-serif; }

h1 { text-align: center; margin-top: 0.5em; font-size: 4rem; }
h2 { text-align: center; margin-top: 0; font-size: 3em; }
p { margin-top: 1rem; margin-bottom: 1rem; }


